@namespace TacosChat.Components

<div class="window" style="width: 100%; height: 500px;">
  <div class="title-bar">
    <div class="title-bar-text">Twitch Chat - @_messages.Count Messages</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body" style="height: 100%;">
        <ul class="tree-view" style="height: 90%; overflow-y: scroll;">
            @foreach(var chatMessage in _messages)
            {
                <li>
                    @chatMessage.Timestamp.ToString("hh:mm:ss"): @chatMessage.Message
                </li>
            }
        </ul>
  </div>
</div>

@code
{
    private PeriodicTimer _timer = new PeriodicTimer(TimeSpan.FromMilliseconds(500));
    private List<ChatMessage> _messages = new();
    private int _messageCountMax = 30;

    protected override async Task OnInitializedAsync()
    {
        await StartTimer();
    }

    async Task StartTimer()
    {
        while (true)
        {
            await _timer.WaitForNextTickAsync();
            AddChatMessage("Hello World");
            StateHasChanged();
        }
    }

    void AddChatMessage(string message)
    {
        _messages.Add(new ChatMessage(DateTime.Now, message));
        
        // Only keep the last 25 messages
        if (_messages.Count > _messageCountMax)
        {
            _messages.RemoveRange(0, _messages.Count - _messageCountMax);
        }
    }
}