@inherits LayoutComponentBase

<style>
    body {
        margin: 0;
        margin-right: 6px;
    }
</style>

<PageTitle>TacosChatSsr</PageTitle>
<main>
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <ErrorContextView />
        </ErrorContent>
    </ErrorBoundary>
</main>